
  <h1><small><img src="assets/images/logo.png"></small> Get what Tou need <small>With Maximum Savings</small></h1>
<!-- You can add more ".slideshow-image" elements, but remember to update the "$items" variable on SCSS -->
<div class="slideshow">
  <div class="slideshow-imagge" style="background-image: url('https://source.unsplash.com/category/nature/1600x1400')"></div>
  <div class="slideshow-imagge" style="background-image: url('https://source.unsplash.com/category/buildings/1600x1400')"></div>
  <div class="slideshow-imagge" style="background-image: url('https://source.unsplash.com/category/food/1600x1400')"></div>
  <div class="slideshow-imagge" style="background-image: url('https://source.unsplash.com/category/technology/1600x1400')"></div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>kiki</h2>
  </div>
</div>
